<?xml version="1.0" encoding="UTF-8"?>
<!--创建映射配置文件-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--源文件所在的路径-->
<mapper namespace="com.exam.online.mapper.ITeacherMapper">
    <select id="findAccount" parameterType="com.exam.online.bean.LogInModel" resultType="com.exam.online.bean.Teacher">
        select *
        from teacher_table
        where teaAccount = #{username}
          AND teaPassword = #{password};
    </select>

    <select id="findTeaId" parameterType="Integer" resultType="com.exam.online.bean.Teacher">
        select *
        from teacher_table
        where teaId = #{teaId};
    </select>

</mapper>